<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3f853379-47a3-4c1f-932e-e2408acc29cf/resourcegroups/controle-d/providers/Microsoft.Web/sites/controle-d-api-2</ResourceId>
    <ResourceGroup>controle-d</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://controle-d-api-2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>controle-d-api-2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>controle-d-api-2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$controle-d-api-2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BD_ControleD" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:controle-d-bd.database.windows.net,1433;Initial Catalog=controle-d;Persist Security Info=False;User ID=thiagonetorj;Password=united18@;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:controle-d-bd.database.windows.net,1433;Initial Catalog=controle-d;Persist Security Info=False;User ID=thiagonetorj;Password=united18@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ControleDApi.DAL.Context, ControleDApi" MigrationConfiguration="ControleDApi.Migrations.Configuration, ControleDApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BD_ControleD-Web.config Connection String">
      <ParameterValue>Server=tcp:controle-d-bd.database.windows.net,1433;Initial Catalog=controle-d;Persist Security Info=False;User ID=thiagonetorj;Password=united18@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>